@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-size: 16.5px;
  }
  body {
    @apply relative;
    font-family: "Work Sans", sans-serif;
    @apply bg-custom-dark;
    @apply text-custom-white;
  }
}

.grid-container > div:nth-child(1n) > div:first-child {
  background-color: #f4ff7a;
}
.grid-container > div:nth-child(2n) > div:first-child {
  background-color: #7affd7;
}

.grid-container > div:nth-child(3n) > div:first-child {
  background-color: #ec7aff;
}
.grid-container > div:nth-child(4n) > div:first-child {
  background-color: #ffb27a;
}

.custom-bg {
  background-color: rgba(0, 0, 0, 0.895);
}
